<div class="section donate-staff topspace" id="give-to-abide">
<div class="row">

    <h2 class="section-title"><span>Give to Abide</span></h2>
    
    <p class="our-community" style="font-size: 1.25rem;">Abide Ministries exists to start and sustain initiatives that help others intimately know the love of Jesus. When you give to Abide, you help us help others respond to God.</p>

    <div class="thumbnails row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
        {{ .Content }}
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-6">
        <div class="center-iframe"><iframe class="donorbox-form" width="100%" height="685px" src="https://donorbox.org/embed/abide?hide_donation_meter=true" frameborder="0" style="max-width:700px; min-width:310px; max-height:none!important; border: none;" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no">
            </iframe></div>
        </div>
</div>
</div><!--/row-->
</div> <!-- /section -->
