<div class="section topspace subheader">
<div class="row">
    <div class="col-md-12">
    	<h6 class="lead">Who We Are</h6>
        <p class="lead text-center text-muted">
            Abide Ministries exists to start and sustain initiatives that help others intimately know the love of Jesus, so that individuals and families everywhere can continue to respond to Jesus in their own lives.
        </p>
        <a class="btn btn-action text-center" href="about">Learn More</a>
    </div>
    </div>
</div> <!-- / section -->
