<div class="section topspace subheader">
<div class="row">
    <div class="col-md-12">
    	<h6 class="lead">Who We Are</h6>
        <p class="lead text-center text-muted">
            Abide Ministries exists to strengthen individuals and families in Jesus. We serve our purpose by assisting courageous and compassionate leaders establish initiatives that help others intimately know the love of Christ.
        </p>
        <a class="btn btn-action text-center" href="about">Learn More</a>
    </div>
    </div>
</div> <!-- / section -->
