<div class="section topspace subheader">
<div class="row" style="margin-bottom:50px;">
    <div class="col-xs-12 col-md-6 col-lg 6">
        <h2>On Sunday, September 29 from 3-5pm, we invite you to come explore the Abide Collective on the Detroit Riverfront!</h2><p>Join us for a day learning about the creative and courageous leaders who make up the Abide Collective.</p>
        <a class="btn btn-action" style="margin-left: 0;" href="explore">RSVP Now</a>
    </div>
    <div class="col-xs-12 col-md-6 col-lg 6"><a href="explore"><img src="images/explore_header_mobile_767.jpg" /></a></div>
    </div>
    <hr style="width:50%;margin-bottom: 50px;" />
    <div class="row">
    <div class="col-md-12">
    	<h6 class="lead">Who We Are</h6>
        <p class="lead text-center text-muted">
            Abide Ministries exists to strengthen individuals and families in Jesus. We serve our purpose by assisting courageous and compassionate leaders establish initiatives that help others intimately know the love of Christ.
        </p>
        <a class="btn btn-action text-center" href="about">Learn More</a>
    </div>
    </div>
</div> <!-- / section -->
